<div class="container">
  <nav>
    <div>
      <div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <b>HULK STORE</b>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li>
            <a routerLink="/stockProductos" routerLinkActive="active"> Productos</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        </ul>

      </div>

      <img class="img-fluid center-block" src="/assets/images/book.jpeg" alt="">
    </div>
  </nav>
</div>